
body{
	width:900px;
	margin:0 auto;
    border:solid 10px #7ca4bf;
    padding:20px;

}

img{
  
  width :60%;
  float:center;
  margin-left:20%;
  margin-top:10%;
  margin-bottom:10%;


}
#pic{
	
	border: 10px solid #4d8cb7;
	width:30%;
	margin-left:35%;
	margin-top:10%;
    margin-bottom:0%
	
}
h1{
font-family: 'PT Serif', serif;
font-size: 30px;
text-align: center;


}
hr {
  border: 0;
  border-top: 5px double #4d8cb7;
}